
<div class="d-flex product-card-list">
    @foreach(var card in Cards)
    {
    <CardComponent Card="card" />
        
    }
</div>

@code{

    List<ProductCard> Cards = new()
    {
        new ProductCard{ Image = "Images/Mechanic.jpg"/* , Heading /* = "Vi tar hand om det mekaniska" */  },
        new ProductCard{ Image = "Images/BlackCar.jpg"/* , Heading = "Snabbaste bilarna"  */},
        new ProductCard{ Image = "Images/Hastighet.jpg"/* , Heading = "Ingen hastighets-begränsning " */ },

    };
}
