<div class="d-flex">

    <img src="@CartItem!.PictureURL" />
    <div class="d-flex flex-column ms-3">
    <div class="d-flex flex-column">
            <h3>"CartItem!.Name"</h3>
            <p>CartItem!.Description</p>
        <table class="table mb-0">
         <tbody>
                    <tr><td> <div class="ms-2 badge text-bg-light style="background-color:@CartItem.Color.BGColor; color:@CartItem.Color.TextColor">B</div></td></tr>
         </tbody>
        </table>
    

</div>
    <button class="btn btn-danger btn-sm mt-2"> Remove</button>

</div>
</div>




@code {
    [Parameter] public CartItemDTO? CartItem { get; set; }


    void RemoveItem()
    {
        //Koppls till knspp
        //Ts bort bilrn från favortier som finns i LocalStorage
    }


}
