<body>
    <div class="body-with-overlay">
    </div>
<footer class="bg-dark text-light py-3">
    <div class="body-with-overlay text-center">
        <h2>Kontaktinformation</h2>
        <p>Företagsadress</p>
        <p>Telefon: 123-456-7890</p>
        <p>Email: info@example.com</p>
    </div>

    <div>
        <h2>Följ oss</h2>
        <a href="https://www.instagram.com/">Instagram</a>
    </div>
</footer>
</body>

@code {

}
