@page "/"
@inject UIService Service
<CascadingValue Value="Service" Name="Service">
    <NavComponent OnChange="OnCategoryChange" />
</CascadingValue>
<MenuComponent />
<img src="Images/VV.png" />
<CarouselComponent />
<CardListComponent />


<div id="viewport" class="d-flex vh-100">
    @* <ProductFilterComponent /> *@
    @foreach (var car in Service.Cars)
    {
        <ProductComponent Car="car" />
    }
    
</div>
@code {
    //List<CarGetDTO> FetchedCars = new List<CarGetDTO>();

    async Task OnCategoryChange(int id)
    {
        await Service.GetCarsByCategory(id);
       
        StateHasChanged();
    }
}

