@page "/"
@inject UIService Service
<CascadingValue Value="Service" Name="Service">
    <NavComponent OnChange="OnCategoryChange" />
</CascadingValue>
<MenuComponent />
<img src="Images/VV.png" />
<CarouselComponent />
<CardListComponent />


<div id="viewport" class="d-flex vh-100">
    <ProductFilterComponent />
    @foreach (var car in FetchedCars)
    {
        <ProductComponent Car="car" />
    }
    
</div>
@code{
    List<CarGetDTO> FetchedCars = [];
    void OnCategoryChange(int id)
    {
        FetchedCars = Service.GetCarsByCategory(id);
        // Hämta bilar från API och spara i en List<CarGetDTO>
    }
}
