@page "/"
@inject UIService Service

@* <NavComponent UIService="Service" /> *@
<CascadingValue Value="Service" Name="Service">
    <NavComponent OnChange="OnCategoryChange" />
<MenuComponent />
<img src="Images/VV.png" />
<CarouselComponent />
<CardListComponent />


</CascadingValue>
        @* <ProductComponent OnChange="OnChange" /> *@

<div id="viewport" class="d-flex vh-100 flex-wrap">
    @* <ProductFilterComponent /> *@
    @foreach (var car in Service.Cars)
    {
        <ProductComponent Car="car" />
    }
    
</div>
<FooterComponent/>

@code {
    //List<CarGetDTO> FetchedCars = new List<CarGetDTO>();

    protected override void OnInitialized()
    {
        
    }


    async Task OnCategoryChange(int id)
    {
        await Service.GetCarsByCategory(id);
       
        StateHasChanged();
    }
     void OnChange()
    {

    }
}

