@using CarShop.API.DTO.DTOs


<nav class="navbar d-flex justify-content-between m-3">

    <a class="navbar-brand" href="#"><img src="images/vivavit.png" alt=" Viva logo"¨ style="height:80px;"></a>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-center style">
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <li class="nav-item dropdown-center">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Modeller
                        </a>
                        <ul class="dropdown-menu onclick">
                             @foreach (var vt in Service!.Categories)
                                {
                                <li ><a @onclick = "()=>OnClick(vt.Id)">@vt.Name</a></li>
                                }

                        </ul>
                    </li>
                    </li>
                    <li class="nav-item">
                    <li class="nav-item dropdown-center">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tjänster
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item bi bi-telephone" href="#"> Vägassistans vid olycka och haveri</a></li>
                            <li><a class="dropdown-item bi bi-tools " href="#"> Reservdelar och tillbehör</a></li>
                            <li><a class="dropdown-item bi bi-ev-front" href="#"> Laddning och digitala tjänster</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item bi bi-envelope" href="#"> Hjälp med min nuvarande bil</a></li>
                            <li><a class="dropdown-item bi bi-calendar" href="#"> Boka servicetid</a></li>

                        </ul>
                    </li>
                    </li>
                    <li class="nav-item dropdown-center">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                            Köp online
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"> Nya bilar i lager</a></li>
                            <li><a class="dropdown-item" href="#"> Designa din bil</a></li>
                            <li><a class="dropdown-item" href="#"> Leasing</a></li>
                            <li><a class="dropdown-item" href="#"> Finansiering</a></li>


                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item bi bi-telephone" href="#"> Kontakta oss</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="d-flex justify-content-between ">
        <div>
            <div class="position-relative">
                <button id="cart-button" type="button" class="btn btn-outline-dark border border-0 rounded-0"><i class="bi bi-search"></i></button>
                <div class="cart-count bg-dark text-white rounded-circle position-absolute"></div> 
            </div>
        </div>
        <div class="dropdown-center">
            <button class=" rounded-0 btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
            </button>
            <ul class="dropdown-menu rounded-0">
                <li><a class="dropdown-item btn btn-dark" href="#">Logga in</a></li>
                <li><a class="dropdown-item btn btn-dark" href="#">Skapa konto</a></li> 
            </ul>
        </div>
        <div class="dropdown-center">
            <button class="rounded-0 btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-bookmark"></i>
            </button>
            <ul class="dropdown-menu rounded-0">
                <li><a class="dropdown-item btn btn-dark" href="#">Sparade bilar</a></li>
            </ul>
        </div>
    </div>
</nav>


@code {

    [CascadingParameter(Name = "Service")] public UIService? Service { get; set; }

    [Parameter] public EventCallback OnChange { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        await Service.GetCategories();
    }
    void OnClick(int id)
    {
         
    }

//     List<VehicleTypeGetDTO> VehicleTypes { get; set; } = new()
//     {
//        new VehicleTypeGetDTO{Name="Coupe", Id=1},
//        new VehicleTypeGetDTO{Name="Familjebil", Id=2},

//     };
 }