@page "/"
   @* <img src="Images/V.V.png" />*@

<NavComponent />
<MenuComponent />
<img src="Images/VV.png" />
<CarouselComponent />
<CardListComponent />

<div id="viewport" class="d-flex vh-100"> 
    <ProductFilterComponent/>
    <ProductComponent/>
</div>

